.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 200px;
    height: 200px;
}

.display {
    height: 20px;
    text-align: right;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: dashed 2px black;
    flex-grow: 1;
}

.row {
    display: flex;
    padding: 4px;
    justify-content: space-around;
    gap: 8px;
}

.clearRow {
    display: flex;
    padding: 4px;
    justify-content: space-between;
    gap: 8px;
}

button {
    padding: 8px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: aquamarine;
}

.operator, .equal, .clearButton, .backSpace {
    background-color:aqua;
}

.clearButton, .backSpace {
    width: 80px;
}